.Home {
  .list {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &-favorite{
      text-align: center;
    }
    &__filter {
      text-align: center;
      padding: 10px 50px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      h2 {
        text-align: center;
      }
      select {
        border: 0;
        border-radius: 7px;
        background: #f9f9f9;
        border-bottom: 5px solid #afafaf;
        color: black;
        padding: 10px;
        font-size: 18px;
        margin: 5px;
        text-align: center;
        text-transform: capitalize;
      }
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }

    &__pagination {
      text-align: center;
      margin: 10px;
    }

    &__button {
      border: 0;
      border-radius: 7px;
      background: #8bacf6;
      width: 100%;
      border-bottom: 5px solid #6883bb;
      color: white;
      height: 60px;
      font-size: 18px;
      margin: 5px;
      cursor: pointer;
      &-clear {
        background: #f68b8b;
        border-bottom: 5px solid #bb6868;
      }

      &-favorites {
        background: #f6f38b;
        border-bottom: 5px solid #bbb368;
        color: black;
        float: left;
      }

      &-pagination {
        background: #4bd562;
        border-bottom: 5px solid #427c4d;

        &:disabled {
          background: #e9dedc;
          border-bottom: 5px solid #b8a8a6;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .Home {
    .list {
      width: 80%;
      &__filter {
        text-align: right;
        display: block;
      }
      &__button {
        width: 99px;
      }
    }
  }
}
